<br> <br><br>

<div class="home-lasttext">
  <div class="container">
      <div class="row">

          <div class="col-sm-4">
              <div class="text-center">
                  <h3 style="color:#109173">{{footer.logo}}</h3>
                  <br><br>
                  <p>{{footer.description}}</p>
              </div>    
          </div>
          
          <div class="latestcol">
          <div class="col-sm-4">
              <div class="latestpost" *ngFor="let postList of footer.postList">
                <h3 style="color:black">{{postList.heading}}</h3>
                <ul  *ngIf="postList.postSubList">
                    <li *ngFor="let postSubList of postList.postSubList"><p>{{postSubList.list}}</p><hr></li>
                </ul>
               
            </div>
          </div>
          </div>

            <div class="col-sm-4">
                <div [ngClass]="{'staytouch' : footer.stayTouchList}">
                    <ng-container *ngFor="let contactList of footer.stayTouchList">
                        <ng-container *ngIf="contactList!=footer.stayTouchList">
                                <h3 style="color:black">{{contactList.heading}}</h3>
                                <p *ngIf="contactList.email"><span>Email: </span><a href="mailto:vashishtrohan29@gmail.com" style="color: #109173;">{{contactList.email}}</a></p>
                                <ul *ngIf="contactList.stayTouchSubList">
                                    <li *ngFor="let contactSubList of contactList.stayTouchSubList"><p><span>Phone Number: </span>{{contactSubList.list}} </p></li>
                                </ul>
                        </ng-container>
                       
                    </ng-container>
                </div>    
            </div>

      </div>
    
  </div>

</div>

    
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <footer class="container-fluid text-center">
      <p>All right reserved</p>
    </footer>

