<br> <br><br>

<div class="home-lasttext">
  <div class="container">
      <div class="row">

          <div class="col-sm-4">
              <div class="text-center">
                  <h3 style="color:#109173">Rohan Vashisht</h3>
                  <br><br>
                  <p>User description goes here. Write about yourself or your skill sets if any.
                  </p>
              </div>    
          </div>
          
          <div class="latestcol">
          <div class="col-sm-4">
              <div class="latestpost">
                  <h3 style="color:black">Latest Posts</h3>
                  <p>This is awesome post title</p><hr>
                  <p>Awesome features are awesome</p><hr>
                  <p>Create your own awesome website</p><hr>
                  <p>Wow, this is fourth post title</p><hr>
              </div>
          </div>
          </div>

          <div class="col-sm-4">
              <div class="staytouch">
                  <h3 style="color:black">Stay in touch</h3>
                  <p><a href="mailto:vashishtrohan29@gmail.com">vashishtrohan29</a></p>
                  <p>+91 8168694436</p>
              </div>    
          </div>

      </div>
    
  </div>

</div>

    
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <footer class="container-fluid text-center">
      <p>All right reserved</p>
    </footer>

