<br> <br><br>

<div class="home-lasttext">
  <div class="container">
      <div class="row">

          <div class="col-sm-4">
              <div class="text-center">
                  <h3 style="color:#109173">{{footer.logo}}</h3>
                  <br><br>
                  <p>{{footer.description}}</p>
              </div>    
          </div>
          
          <div class="latestcol">
          <div class="col-sm-4">
              <div class="latestpost">
                    <h3 style="color:black">{{footer.postHead.heading}}</h3>
                    <ng-container *ngFor="let postList of footer.postList">
                        <ul  *ngIf="postList.postSubList">
                            <li *ngFor="let postSubList of postList.postSubList"><p>{{postSubList.list}}</p><hr></li>
                        </ul>
                    </ng-container>    
               
                 </div>
          </div>
          </div>

            <div class="col-sm-4">
                <div [ngClass]="{'staytouch' : footer.stayTouchList}"> 
                    <h3 style="color:black">{{footer.stayTouchHead.heading}}</h3>
                    <ng-container *ngFor="let contactList of footer.stayTouchList">
                                <p><span>{{contactList.key}}</span><a href="{{contactList.href}}" target="_blank">{{contactList.value}}</a></p>
                                <ul *ngIf="contactList.stayTouchSubList">
                                    <li *ngFor="let contactSubList of contactList.stayTouchSubList"><p><span>{{contactSubList.key}} </span><a href="{{contactSubList.href}}">{{contactSubList.value}} </a></p></li>
                                </ul>
                    </ng-container>
                </div>    
            </div>

      </div>
    
  </div>

</div>

    
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <footer class="container-fluid text-center">
      <p>All right reserved</p>
    </footer>

