<br><br>
<br><br>


<iframe
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13722.103134098523!2d76.7858126!3d30.703615999999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1523323671199" 
    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
</iframe>

<br><br><br>

<div class="container">
    <div class="row">
    <form action="">
        <div class="col-sm-6">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" required>
            <br>
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" required>
            <br>
            <label for="phone" class="control-label">Phone</label>
            <input type="number" class="form-control" value="9067921">
            <br>
            <label for="Cname" class="control-label">Company name</label>
            <input type="text" class="form-control" required>
            <br>
        </div>
        <div class="col-sm-6">
            <label for="subject" class="control-label">Subject</label>
            <input type="text" class="form-control" required>
            <br>
            <label for="Message" class="control-label">Message</label>
            <textarea name="Message" id="one" rows="6" class="form-control" required></textarea>
            <br>
            <input type="submit" class="btn btn-info btn-block" value="Submit">
        </div>
    </form>
    </div>
</div>


