
    <head>
    <link rel="stylesheet" href="../../assets/css/bulma/bulma.css">
    <link rel="stylesheet" href="../../assets/css/bulma/bulma.css.map">   
    <link rel="stylesheet" href="../../assets/css/bulma/bulma.min.css"> 
    <link rel="stylesheet" href="../../assets/css/bulma/customform.css">  

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  
  </head>

  <div class="wrapper">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <div class="field is-horizontal">
                        <label class="field-label">PIWIK *</label>
                        <div class="field-body">
                                <div class="upload-btn-wrapper">
                                <label class="file-label">
                                    <input class="input" type="file" name="myfile" formControlName="piwikSingleFile" required>
                                </label>
                                <p *ngIf = "error" class="text-danger">This field is required</p>  <!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                            </div>
                        </div>  
                        
                    </div>    
                        
                    <div class="form-group">
                        <div class="field is-horizontal">
                            <label class="field-label">FINAL *</label>
                            <div class="field-body">
                                <div class="upload-btn-wrapper">
                                    <label class="file-label">
                                        <input class="input" type="file" name="myfile" multiple="multiple" formControlName="finalMultipleFile" required>
                                    </label>
                                    <p *ngIf = "error" class="text-danger">This field is required</p>  <!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                            </div>  
                        </div>      
                    </div>
                    
                    <div class="form-group">
                        <div class="field is-horizontal">
                            <label class="field-label">PIWIK KEY *</label>
                            <div class="field-body">
                                <div class="upload-btn-wrapper">
                                    <input class="input" type="text" placeholder="INPUT" formControlName="piwikKey" required>
                                    <p *ngIf = "error" class="text-danger">This field is required</p>  <!-- added a condition when this.error is true then it will print error on page.-->
                                </div>    
                            </div>
                        </div>  
                    </div>
                    <div class="form-group">        
                        <div class="field is-horizontal">
                            <label class="field-label">FINAL KEY *</label>
                            <div class="field-body">
                                <div class="upload-btn-wrapper">
                                    <input class="input" type="text" placeholder="INPUT" formControlName="finalKey" required>
                                    <p *ngIf = "error" class="text-danger">This field is required</p>  <!-- added a condition when this.error is true then it will print error on page.-->
                                </div>    
                            </div>
                        </div>  
                    </div>    
                    
                    <div class="form-group">
                        <div class="columns">
                                <div class="column">
                                    <input class="input" type="text" placeholder="KEY1" formControlName="key1" required>
                                    <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                                <div class="column">
                                        <input class="input" type="text" placeholder="COUNT1" formControlName="count1" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                                <div class="column">
                                        <input class="input" type="text" placeholder="INTERSECTION1" formControlName="intersection1" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                        </div>        
                        <div class="columns">
                                <div class="column">
                                        <input class="input" type="text" placeholder="KEY2" formControlName="key2" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                                <div class="column">
                                        <input class="input" type="text" placeholder="COUNT2" formControlName="count2" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                                <div class="column">
                                        <input class="input" type="text" placeholder="INTERSECTION2" formControlName="intersection2" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                        </div> 
                        <div class="columns">
                                <div class="column">
                                        <input class="input" type="text" placeholder="KEY3" formControlName="key3" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                                <div class="column">
                                        <input class="input" type="text" placeholder="COUNT3" formControlName="count3" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                                <div class="column">
                                        <input class="input" type="text" placeholder="INTERSECTION3" formControlName="intersection3" required>
                                        <div class="upload-btn-wrapper"><p *ngIf = "error" class="text-danger">This field is required</p></div><!-- added a condition when this.error is true then it will print error on page.-->
                                </div>
                        </div> 
                    </div>    
                    
                    
                        <div class="field is-grouped has-full-width">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                            <pre>{{myForm.value | json}}</pre>
                        </div>

        </form>                        
  </div>  
  
  
  