<br><br><br>

    <div class="portfolio-text">    
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                <div class="text-center">    
                    <h2 style="color:black">Portfolio</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    lorem sit amet scelerisque justoelit Cras suscipit arcu
                    vestibulum volutpat libero</p>
                    <hr>   
                </div>                         
                </div>
            </div>
        </div>
    </div>    
     
    

    <div class="container">
        <div class="row">
            <div class="column">
                <img src="assets/img/i.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="assets/img/ii.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="assets/img/iii.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="assets/img/iv.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
            </div>
        </div>
          
        <div id="myModal" class="modal">
                <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <div class="wow flipInX animated mySlides" data-wow-offset="0">
                <img src="assets/img/i.jpg" style="width:100%">
                </div>
        
                <div class="wow flipInX animated mySlides" data-wow-offset="0">
                    <img src="assets/img/ii.jpg" style="width:100%">
                </div>
        
                <div class="wow flipInX animated mySlides" data-wow-offset="0">
                    <img src="assets/img/iii.jpg" style="width:100%">
                </div>
            
                <div class="wow flipInX animated mySlides" data-wow-offset="0">
                    <img src="assets/img/iv.jpg" style="width:100%">
                </div>
                
                <a class="back" onclick="plusSlides(-1)">&#10094;</a>
                <a class="front" onclick="plusSlides(1)">&#10095;</a>
        
                <div class="caption-container">
                <p id="caption"></p>
                </div>
        
        
                <div class="column">
                    <img class="demo cursor" src="assets/img/i.jpg" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/img/ii.jpg" style="width:100%" onclick="currentSlide(2)" alt="Trolltunga, Norway">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/img/iii.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/img/iv.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
            </div>
        </div>
    </div>
    
    <br><br><br>
    <div class="portfolio-text">    
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                <div class="text-center">    
                    <h2 style="color:black">MEET THE TEAM</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    lorem sit amet scelerisque justoelit Cras suscipit arcu
                    vestibulum volutpat libero</p>
                    <hr>   
                </div>                         
                </div>
            </div>
        </div>
    </div><br><br>    
    
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="assets/img/team1.jpg" alt="one" class="img-responsive">
                        <div class="bio">
                            <h2 style="color:black">Caroline Edward</h2>
                             <p class="title">CEO</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem
                             describes me lorem ipsum ipsum lorem ipsum ipsum lorem
                             describes me lorem .</p><br>
                            <p>example@example.com</p><br>
                            <button class="btn  btn-block">Contact</button>
                        </div>
                    </div>                      
                </div>
                           
                <div class="col-sm-4">
                    <div class="card">
                        <img src="assets/img/team2.jpg" alt="two" class="img-responsive">
                        <div class="bio">
                            <h2 style="color:black">D'Ontonio</h2>
                            <p class="title">DIRECTOR</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem
                                describes me lorem ipsum ipsum Some text that describes me lorem ipsum ipsum lorem.</p><br>
                            <p>example@example.com</p><br>
                            <button class="btn  btn-block">Contact</button>     
                        </div>
                    </div>   
                </div>

                <div class="col-sm-4">
                    <div class="card">
                    <img src="assets/img/team3.jpg" alt="three" class="img-responsive">
                        <div class="bio">
                            <h2 style="color:black">Adam Woods</h2>
                            <p class="title">DESIGNER</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem
                                describes me lorem ipsum ipsum hat describes me lorem ipsum .</p><br>
                            <p>example@example.com</p><br>
                            <button class="btn  btn-block">Contact</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>        
        

    