<br><br><br>

    <div class="services-text">    
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                <div class="text-center">    
                    <h2 style="color:black">Services</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    lorem sit amet scelerisque justoelit Cras suscipit arcu
                    vestibulum volutpat libero</p>
                    <hr>   
                </div>                         
                </div>
            </div>
        </div>
    </div>    
    
   
    <div class="bgimg-1">
        <div class="caption">
          <span class="border">SCROLL DOWN</span>
        </div>
      </div>
   

    <div class="uservices-text">
        <div class="container">
            <div class="row">
                <div class="text-center">    
                <div class="faicons">    
                   
                    <div class="col-xs-3">
                        <div class="wow bounceIn animated one" data-wow-offset="0" data-wow-delay="0.4s">
                            <h2 style="color:black">Responsive</h2>
                            <div class="icon">
                                <i class="fa fa-heart-o fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div> 
                        </div>      
                    </div>
                    
                    <div class="col-xs-3">
                        <div class="wow bounceIn animated two" data-wow-offset="0" data-wow-delay="1s">
                            <h2 style="color:black">Multi Purpose</h2>
                            <div class="icon">
                                <i class="fa fa-desktop fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-3">
                        <div class="wow bounceIn animated three" data-wow-offset="0" data-wow-delay="1.6s">
                            <h2 style="color:black">Easy Custom</h2>
                            <div class="icon">
                                <i class="fa fa-location-arrow fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="wow bounceIn animated four" data-wow-offset="0" data-wow-delay="2s">
                            <h2 style="color:black">Quick Support</h2>
                            <div class="icon">
                                <i class="fa fa-laptop fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div>
                        </div> 
                    </div>
                
                </div>
                </div>    
            </div>
        </div>
    </div>
    


    
    
