<br><br><br>


<div class="services-text">    
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <div class="text-center">    
                    <h2 style="color:black">Blog</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    lorem sit amet scelerisque justoelit Cras suscipit arcu
                    vestibulum volutpat libero</p>
                    <hr>   
                </div>                         
            </div>
        </div>
    </div>
</div>    


<div class="blogbody">
        <div class="container">
            <div class="row">
               <div class="col-sm-8">
                    <div class="page-header">
                        <div class="left">
                            <h4 style="color:black;">28 march, 2017</h4>
                            <img src="assets/img/home.jpg" alt="image" class="img-responsive"><br>
                            <div class="left-text"> 
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
                                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend  
                                option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                                <br>   
                                <h2 style="color:black">Typi non habent claritatem insitam</h2>
                                <br><br>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
                                luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
                                luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>  
                            </div>  
                        </div>
                    </div>
                </div>
               
                
                <div class="col-sm-4">
                   <div class="right">    
                        <div class="panel">
                            <div class="panel-heading"></div>
                                
                                <div class="media">
                                    <div class="media-left">
                                    <img src="assets/img/a.jpg" alt="a">
                                    </div>
                                    <div class="media-body">
                                        <h4 style="color:black" class="media-heading">Edward Meechum</h4>
                                        <p>luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-left pull-right">
                                    <img src="assets/img/b.jpg" alt="b">
                                    </div>
                                    <div class="media-body">
                                        <h4 style="color:black" class="media-heading">Claire Underwood</h4>
                                        <p>Duis autem vel eum iriure dolor in ess a hendrerit in molestie consequat. </p>
                                    </div>
                                </div>
                                
                                <div class="media">
                                    <div class="media-left">
                                    <img src="assets/img/c.jpg" alt="c">
                                    </div>
                                    <div class="media-body">
                                        <h4 style="color:black" class="media-heading">Ronnie Statham</h4>
                                        <p>luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-right pull-right">
                                        <img src="assets/img/d.jpg" alt="d">
                                    </div>
                                    <div class="media-body">
                                        <h4 style="color:black" class="media-heading">Katherine Pierce</h4>
                                        <p>Duis autem vel eum iriure dolor in ess a esshendrerit in molestie consequat. </p>
                                    </div>
                                </div>    
                           
                        </div>  
                        
                        <div class="popular-tags">
                                <div class="text-center">
                                    <h3 style="color:black">Popular Tags</h3>        
                                    <ul class="elements">
                                    <li><a href="#">Website</a></li>
                                    <li><a href="#">Applets</a></li>
                                    <li><a href="#">Internet</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">Google plus</a></li>
                                    </ul>    
                                </div>
                        </div>   
                    </div>
                
                </div>

            </div>
        </div>
    </div>  

   
      

