<br><br><br>
    
    <div class="homecarousel">
        <div class="container">
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="assets/img/home.jpg" alt="Los Angeles" style="width:100%;">
                          </div>
                    
                          <div class="item">
                            <img src="assets/img/home.jpg" alt="Chicago" style="width:100%;">
                          </div>
                        
                          <div class="item">
                            <img src="assets/img/home.jpg" alt="New york" style="width:100%;">
                          </div>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>     
        </div>
    </div>
     
    <br>

    <div class="home-text">    
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                <div class="text-center">    
                    <h2 style="color:black">Multi Purpose Theme</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    lorem sit amet scelerisque justoelit Cras suscipit arcu
                    vestibulum volutpat libero</p>
                    <hr>   
                </div>                         
                </div>
            </div>
        </div>
    </div>    
    
    <div class="uhome-text">
        <div class="container">
            <div class="row">
                <div class="text-center">    
                <div class="faicons">
                   
                    <div class="col-xs-4">
                    <div class="wow bounceIn animated one" data-wow-offset="0" data-wow-delay="0.4s">  
                            <h2 style="color:black">Responsive</h2>
                            <div class="icon">
                                <i class="fa fa-heart-o fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div>   
                    </div>
                    </div>   
                    
                    <div class="col-xs-4">
                    <div class="wow bounceIn animated two" data-wow-offset="0" data-wow-delay="1.0s">  
                            <h2 style="color:black">Multi Purpose</h2>
                            <div class="icon">
                                <i class="fa fa-desktop fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div>
                    </div>
                    </div>
                    
                    <div class="col-xs-4">
                    <div class="wow bounceIn animated three" data-wow-offset="0" data-wow-delay="1.6s">      
                            <h2 style="color:black">Easy Custom</h2>
                            <div class="icon">
                                <i class="fa fa-location-arrow fa-3x"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                            <div class="icon-button">
                            <a href="#" type="button" class="btn btn-default">Read more</a>
                            </div>
                    </div>        
                    </div>
                </div>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="home-gallery">    
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                <div class="text-center">    
                    <h2 style="color:black">Galleries</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam</p>
                    <hr>   
                </div>                         
                </div>
            </div>
        </div>
    </div>
    
    <div class="uhome-gallery">    
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-4 conta">
                    <img src="assets/img/1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">Hello one</div>
                    </div>
                </div>
                
                <div class="col-xs-4 conta">
                    <img src="assets/img/2.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">Hello two</div>
                    </div>
                </div>

                <div class="col-xs-offset-2 col-xs-4 conta" style="margin-top:20px">
                    <img src="assets/img/3.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">Hello three</div>
                    </div>
                </div>
                
                <div class="col-xs-4  conta" style="margin-top:20px">
                    <img src="assets/img/4.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">Hello four</div>
                    </div>
                </div>
            </div>    
            
        </div>
    </div>
